.about_us {
  margin: 66px 0 148px 0;
}
.about_us_img {
  position: relative;
  left: -60px;
}
.about_us_title {
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-bold);
  font-size: clamp(24px, 3.33vw, 48px);
  color: var(--clr-black);
  padding-bottom: 32px;
}
.about_us_content {
  font-family: var(--ff-IBMPlex);
  font-weight: var(--fw-regular);
  font-size: clamp(16px, 1.66vw, 24px);
  color: var(--clr-black);
  padding-bottom: 16px;
}
.more_about_us {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}
.more_about_us > img {
  transform: scale(0.6);
}
.more_about_us_link {
  font-family: var(--ff-IBMPlex);
  font-weight: var(--fw-regular);
  font-size: clamp(16px, 1.66vw, 24px);
  color: var(--clr-black);
}

@media all and (min-width: 1025px) {
  .about_us_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 1024px) {
  .about_us {
    margin: 32px 0 ;
  }
  .about_us_img {
    display: none;
  }
  .about_us_title {
    padding-bottom: 16px;
  }
}
