/* [type="text"] {
  border-bottom: 1px solid var(--clr-gray) !important;
} */
.contact_us {
  margin: 0 0 60px 0;
}
input {
  outline: none;
  border-bottom: 1px solid var(--clr-gray);
  height: 50px;
}
.adress {
  width: 60%;
}
.post_code {
  width: 40%;
}
.double_input {
  display: flex;
  column-gap: 14px;
}
.contact_info {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.contact_info img {
  transform: scale(0.8);
}
.contact_info_items {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.contact_us_body {
  display: flex;
  column-gap: 100px;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 50px;
}
.contact_info_wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 52px;
  margin-top: 50px;
}
.phone_icon {
  margin-left: 10px;
}
.location_icon {
  margin-left: 10px;
}
.contact_title {
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-bold);
  font-size: clamp(24px, 3.05vw, 44px);
  color: var(--clr-black);
}
.item {
  font-family: var(--ff-IBMPlex);
  font-weight: var(--fw-regular);
  font-size: 24px;
  color: var(--clr-blue);
}

/* [placeholder="Adress"] {
  margin-right: 20px;
} */
@media all and (max-width: 1100px) {
  .contact_info_wrapper {
    display: none;
  }
  .input_wrapper {
    width: 100%;
  }
}
.contact_map {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  width: 100%;
}
.file_input {
  margin: 50px 0 100px 0;
  outline: 1px dashed var(--clr-gray);
  /* outline-color:var(--clr-gray) ; */
  height: 100px;
  border: none;
}
.submit_btn_wrapper {
  /* margin-top: 100px; */
  margin: 0 auto;
}
.submit_btn {
  padding: 12px 70px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  font-family: var(--ff-IBMPlex);
  font-weight: var(--fw-regular);
  font-size: clamp(20px, 1.66vw, 24px);
}
