.our_client {
  margin: 100px 0;
}
.our_client_title {
  text-align: center;
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-bold);
  font-size: clamp(24px, 3.33vw, 48px);
  color: var(--clr-black);
}
.logo_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: clamp(200px, 34.7vw, 500px);
}
