.top_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: clamp(200px, 34.7vw, 400px);
  background-color: var(--clr-blue);
  margin: 10px 0 40px;
}

.block_title {
  font-family: var(--ff-Montserrat);
  font-size: clamp(24px, 3.33vw, 48px);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}
.block_subtitle {
  font-family: var(--ff-IBMPlex);
  font-size: clamp(16px, 1.66vw, 24px);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  padding: 20px 0;
}
.about_us_page_title {
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-bold);
  font-size: clamp(24px, 3.33vw, 48px);
  color: var(--clr-black);
  padding-bottom: 32px;
}
.about_us_page_content {
  font-family: var(--ff-IBMPlex);
  font-weight: var(--fw-regular);
  font-size: clamp(16px, 1.66vw, 24px);
  color: var(--clr-black);
  padding-bottom: 16px;
}
@media all and (min-width: 1025px) {
  .about_us_page_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
}
@media all and (max-width: 1024px) {
  .about_us_page {
    margin: 32px 0;
  }
  .about_us_page_wrapper {
    display: grid;
    row-gap: 50px;
    margin-bottom: 20px;
  }
  .about_us_page_title {
    padding-bottom: 16px;
  }
}
