.products {
  margin-top: 50px;
}
.products_api_wrapper {
  width: 500px;
  display: inline-block;
}
.products_name {
  font-family: var(--ff-Montserrat);
  font-size: clamp(16px, 1.66vw, 24px);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  padding: 20px 0;
}
.products_descrip {
  font-family: var(--ff-IBMPlex);
  font-size: clamp(14px, 1.25vw, 18px);
  font-weight: var(--fw-regular);
  color: #8e8e8e;
  margin-bottom: 50px;
}
